<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="a669cb56-1464-4bf9-aac1-decd0158abd6" Publisher="CN=lwischik" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MosaicMaker</DisplayName>
    <PublisherDisplayName>alexturn</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MosaicMaker.App">
      <VisualElements DisplayName="MosaicMaker" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="MosaicMaker" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>